<div class="container title mt-3 ">
    <div class="row">
        <div class="col">
            <h1>Contact Management App
                <a routerLink="/contacts/add" class="btn btn-success">
                    <i class="fa-solid fa-user-plus"> &nbsp;</i> Add New
                </a>
            </h1>
            
        </div>

        <p style="text-align: justify;"> This is dummy data. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto labore expedita, aperiam in ullam aliquam blanditiis debitis impedit, voluptatibus explicabo minima accusamus dolore, fugit voluptatem quas quasi recusandae animi deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi autem ab alias voluptatibus aliquam, et atque fuga pariatur voluptas neque voluptate esse non, doloribus quo corrupti laboriosam recusandae! Eos?</p>
        <div class="row">
            <div class="col-6 mt-3">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            
            

            <!-- card-design -->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-6 mt-3" *ngFor="let contact of allContact">
                        <div class="card">
                            <div class="card-body">
                                <div class="row ">
                                    <!-- image -->
                                    <div class="col-md-4">
                                        <img height="200px" [src]="contact.photo" alt="no-image" class="contact-img">
                                    </div>
                                    <!-- card details -->
                                    <div class="col-md-7 mt-5" >
                                        <ul class="list-group">
                                            <li class="list-group-item"> Name: <b>{{contact.name}}</b></li>
                                            <li class="list-group-item"> Email: <b>{{contact.email}}</b></li>
                                            <li class="list-group-item">Mobile: <b>{{contact.mobile}}</b></li>
                                           
                                          </ul>
                                    </div>

                                    <div class="col-md-1 d-flex flex-column justify-content-center align-items-center"  >
                                        <!-- view -->
                                        <a routerLink="/contacts/view/{{contact.id}}" class="btn btn-warning">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        
                                        <!-- edit -->

                                        <a routerLink="/contacts/edit/:contactId" class="btn btn-success mt-1">
                                            <i class="fa-solid fa-pen "></i>
                                        </a>
                                        <!-- delete -->
                                        <a  class="btn btn-danger mt-1">
                                            <i class="fa-solid fa-trash "></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>