<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>  
                
                    <i class="fa-solid fa-user-plus"></i>&nbsp;
                    Add Contact Page
              </h1>
              <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                adipisci dicta at temporibus voluptates nisi praesentium neque earum
                dolorum omnis nihil sit tempore itaque nam aspernatur harum, eos, beatae
                culpa Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex est autem reiciendis labore in voluptas dicta laboriosam, molestias eum sunt ducimus voluptate illum, et deleniti a, dolorum optio dolores. Sequi!
              </p>
        </div>
    </div>
    <pre>
        {{contactName}}
    </pre>
    <!-- Add contact -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="border p-3 rounded " >
                    <div class="mb-2">
                        <input name="contactName"  [(ngModel)]="contactName" placeholder="Name" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Email" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Mobile Number " type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Company" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <select name="" id="" class="form-control">
                            <option value="" selected hidden disabled> Select A Group</option>
                            
                            <option value="{{group.id}}" *ngFor="let group of allGroups">{{group.name}}</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <input value="Create" type="button" class="btn btn-success">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <img  width="200px" src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png" alt="" class="contact_image">



            </div>

        </div>
    </div>
</div>
