<mat-list role="list">
    <div class="profile-card">
        <img src="https://media.istockphoto.com/id/688125274/photo/letter-a-3d-red-isolated-on-white-with-shadow-orthogonal-projection.jpg?b=1&s=170667a&w=0&k=20&c=vg_4bfdgGyqn5anYNYbPGwRoWD2TQFbpRWjy-a72-ck=" alt="">
        <h2>Amal</h2>
        <h4>Amalvm@123gmail.com</h4>
    </div>
    <mat-divider></mat-divider>
    <h2 >Pages</h2>


    <a mat-list-item routerLinkActive="LIst-item-active" routerLink="/" >Dashboard</a>
    <a mat-list-item routerLinkActive="LIst-item-active" routerLink="/" >Institution</a>
    <a mat-list-item routerLinkActive="LIst-item-active" routerLink="/" >Students</a>

    <a mat-list-item routerLinkActive="LIst-item-active" routerLink="/" >Placements</a>
    <a mat-list-item routerLinkActive="LIst-item-active" routerLink="/" >Statistics</a>
    <a mat-list-item routerLinkActive="LIst-item-active" routerLink="/" >Cources</a>

    <a mat-list-item routerLinkActive="LIst-item-active" routerLink="/" >Employees</a>





  </mat-list>
  