<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>  
                
                    <i class="fa-solid fa-pen"></i>&nbsp;
                    Edit Contact Page
              </h1>
              <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                adipisci dicta at temporibus voluptates nisi praesentium neque earum
                dolorum omnis nihil sit tempore itaque nam aspernatur harum, eos, beatae
                culpa Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex est autem reiciendis labore in voluptas dicta laboriosam, molestias eum sunt ducimus voluptate illum, et deleniti a, dolorum optio dolores. Sequi!
              </p>
        </div>
    </div>
    <!-- <pre>
        {{groups | json}}
      </pre> -->
    <!-- edit  contact -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="border p-3 rounded " >
                    <div class="mb-2">
                        <input name="cName" [(ngModel)]="contact.name" placeholder="Name" type="text" class="form-control">
                    </div> 
                    <div class="mb-2">
                        <input name="cEmail" [(ngModel)]="contact.email" placeholder="Email" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="cphoto" [(ngModel)]="contact.photo" placeholder="Photo" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="cMobile" [(ngModel)]="contact.mobile"placeholder="Mobile Number " type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="cCompany" [(ngModel)]="contact.company" placeholder="Company" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="cTitle" [(ngModel)]="contact.title" placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <select name="groupId" [(ngModel)]="contact.groupId" id="" class="form-control">
                            <option value="" selected hidden disabled> Select A Group</option>
                            <option [value]="group.id" *ngFor="let group of groups " >{{group.name}}</option>
                            
                        </select>
                    </div>
                    <div class="mb-2">
                        <input value="Update" (click)="updateContact()" type="button" class="btn btn-success">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <img  width="200px" [src]="contact.photo" alt="" class="contact_image">



            </div>

        </div>
    </div>
</div>

